@import "tailwindcss";
@plugin "@tailwindcss/forms";
@source "./safelist.txt";
@config "../../tailwind.config.ts";

@theme {
  --font-primary: IBMPlexMono, sans-serif;
  --font-mono: IBMPlexMono, monospace;
  --font-sans: IBMPlexMono, sans-serif;

  --breakpoint-xs: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}
